<div class="mb-12 flex justify-between items-start">
  <div>
    <h2 class="text-4xl font-black uppercase tracking-tighter text-black dark:text-white">Editar Artículo</h2>
    <p class="font-mono text-xs text-black/40 dark:text-white/40 uppercase tracking-widest mt-2">ID: <%= @article.slug %></p>
  </div>
  <%= link_to "Ver Artículo ↗", article_path(@article), target: "_blank", class: "bg-[#FBED21] text-black border-2 border-black px-4 py-2 font-bold font-mono text-xs uppercase tracking-widest hover:bg-black hover:text-white transition-colors shadow-[4px_4px_0px_#000]" %>
</div>

<%= render "form", article: @article %>
