<div class="mb-12">
  <h2 class="text-4xl font-black uppercase tracking-tighter">Editar Autor</h2>
  <p class="font-mono text-xs text-black/40 uppercase tracking-widest mt-2"><%= @author.name %></p>
</div>
<%= render "form", author: @author %>
