<div class="inline-flex flex-col" style="font-family: 'Libre Baskerville', serif;">
  <span style="font-size: <%= font_size %>; color: <%= text_color %>; line-height: 1.1; font-weight: 400; letter-spacing: -0.02em;">
    la abigarrada
  </span>
  
  <% if @show_subline %>
    <div class="flex w-full" style="height: 4px; margin-top: 4px;">
      <% if @line_style == :segments %>
        <% colors.each do |color| %>
          <div style="flex: 1; background-color: <%= color %>; margin-right: 2px;" class="last:mr-0"></div>
        <% end %>
      <% else %>
        <% colors.each do |color| %>
          <div style="flex: 1; background-color: <%= color %>;"></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
